.terminal_command
{
    background-color: #000;
    color: white;
    margin: 10px;
    padding: 10px;

}
.box_shadow
{

    background-color: #d4d4d4;
    padding: 16px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.nav_css
{
    background-color: #32762A;
    color: white;
}
.exam
{
    background-color: #d4d4d4;

}
body
{
	background-color: #2F4467;
	color: #d4d4d4;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
h1
{
    font-size: 36px;
    font-weight: 400;
    color: #C0D06F;
    margin: 20px;
}
.jumpers
{
	text-align: center;
}
.jumpers img
{
	width: 100%;
	height: auto;
}
.jumpers p
{
	margin-bottom: 30px;
}
.jumpers figcaption
{
	margin-top: 8px;
}
.navbar
{
	min-height: 57px;
}
.bg-jumpers
{
	background-color: #28a745 !important;
}
a:link, a:active, a:visited, a:hover
{
    color: #000;
}
