{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div>

        # lol

            <div class="box_shadow">

                <h3>Example</h3>

                <p style="background-color: white; padding: 10px;">x = str("s1")<br> y = str(2)<br>z = ste(3.0)<br>print(x)<br>print(y)<br>print(z)</p>

            </div>

            <p class="terminal_command" style="padding: 10px">C:\Users\My Name>python python_tutorial.py<br>
                    s1<br>2,br>3.0</p>


    </div>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" name="lesson_number" value="{{ lesson_number }}">Exam</button>
    </form>
    <a href='/lesson/4'><button class="btn" type='button'>Previous</button></a>
    <a href='/lesson/6'><button class="btn" type='button'>Next</button></a>
</div>
{% endblock %}