{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Python tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/sandbox/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
<header>

    <nav class="navbar navbar-dark bg-jumpers navbar-expand-lg">

        <a href="/main/"><h1>Python tutorial</h1></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/home/">Home</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="#">Start</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> Quiz </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                        id="submenu" > Library </a>

                    <div class="dropdown-menu" aria-labelledby="submenu">

                        <a class="dropdown-item" href="/library/builtinfunction/">Built-in-Function</a>
                        <a class="dropdown-item" href="/library/stringmethods/">String Methods</a>
                        <a class="dropdown-item" href="/library/listmethods/">List Methods</a>
                        <a class="dropdown-item" href="/library/dictionarymethods/">Dictionary Methods</a>
                        <a class="dropdown-item" href="/library/tuplemethods/">Tuple Methods</a>
                        <a class="dropdown-item" href="/library/setmethods/">Set Methods</a>
                        <a class="dropdown-item" href="/library/keywords/">Keywords</a>

                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link Disabled" href="/login/"> Login </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout/"> Logout </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register/">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin_tools/">Admin Tools</a>
                </li>

            </ul>

            <form class="form-inline">

                <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Wyszukaj">
                <button class="btn btn-light" type="submit">Search</button>

            </form>

        </div>

    </nav>

</header>
<div style='width: 150px; top: 164px; float: left'>

    <div class="vertical-menu">

            <a class="nav-link active" href="/lesson/0">Install Python</a>

            <a class="nav-link " href="/lesson/1">Lesson 1</a>

            <a class="nav-link" href="/lesson/2">Lesson 2</a>

            <a class="nav-link" href="/lesson/3">Lesson 3</a>

            <a class="nav-link" href="#">Lesson 4</a>

            <a class="nav-link" href="#">Lesson 5</a>

            <a class="nav-link" href="#">Lesson 6</a>

            <a class="nav-link" href="#">Lesson 7</a>

    </div>
</div>
<div class="container" style="top: 164px;">
    {% block content %}{% endblock %}
</div>
</body>

</html>