{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Python tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/sandbox/static/style.css">

</head>

<body>
    <div>

        <a href="/main/"><h1>Python tutorial</h1></a>

        <div class="nav_css">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" href="/home/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Start</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Quiz</a>
                </li>

                <!--<li class="nav-item">
                    <a class="nav-link" href="#"> Library </a>


                    <a class="dropdown-item" href="/built-in-function/">Built-in-Function</a>

                    <a class="dropdown-item" href="#">String Methods</a>

                    <a class="dropdown-item" href="#">List Methods</a>

                    <a class="dropdown-item" href="#">Dictionary Methods</a>

                    <a class="dropdown-item" href="#">Tuple Methods</a>

                    <a class="dropdown-item" href="#">Set Methods</a>

                    <a class="dropdown-item" href="#">Keywords</a>

                </li>-->

                <!-- login and logout -->
                <li class="nav-item" id="login">
                    <a class="nav-link" href="/login/">Login</a>
                </li>

                <li class="nav-item" id="logout">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register/">Register</a>
                </li>

                <li class="nav-item">

            <form class="form-inline">

                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
            </ul>
        </div>

    </div>
<div style='width: 150px; top: 164px; float: left'>

    <div class="vertical-menu">

            <a class="nav-link active" href="/lesson/0">Install Python</a>

            <a class="nav-link " href="/lesson/1">Lesson 1</a>

            <a class="nav-link" href="/lesson/2">Lesson 2</a>

            <a class="nav-link" href="/lesson/3">Lesson 3</a>

            <a class="nav-link" href="#">Lesson 4</a>

            <a class="nav-link" href="#">Lesson 5</a>

            <a class="nav-link" href="#">Lesson 6</a>

            <a class="nav-link" href="#">Lesson 7</a>

    </div>
</div>
<div class="container" style="top: 164px;">
    {% block content %}{% endblock %}
</div>
</body>

</html>