{% extends 'base.html' %}
{% block content %}
    <h1>User {{ name }}</h1>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Level</th>
                <th>Since</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>{{ email }}</td>
                <td>{{ level }}</td>
                <td>{{ date }}</td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}